.button {
  background-color: aliceblue;
  width: 20%;
  border: none;
  color: midnightblue;
  padding: 8px 8px;
  /* display: inline-block; */
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  animation: bounce 3s alternate-reverse ease-in-out infinite;
}

@keyframes bounce {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(75%);
  }
}

.button2 {
  background-color: aliceblue;
  width: 20%;
  border: none;
  color: midnightblue;
  padding: 8px 8px;
  /* display: inline-block; */
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  animation: bounce 3s alternate-reverse ease-in-out infinite;
}

.select1 {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
  width: 25%;
  padding: 16px 20px;
  border: thin;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;
}

.select2 {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
  width: 25%;
  padding: 16px 20px;
  border: thin;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;
}

.select3 {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
  width: 25%;
  padding: 16px 20px;
  border: thin;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;
}

.select4 {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
  width: 25%;
  padding: 16px 20px;
  border: thin;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.a:link, a:visited, a:active {
  text-decoration: none;
}

.imagen {
  background-image: url('../pics/food-1636164430749-5263.jpg');
  background-size: contain;
}